<div class="form-group">
  <label for="title">Event Title</label>
  <input name="title" class="form-control" placeholder="" value="{{event.title}}" />
</div>
<div class="form-group">
  <label for="desc"> Event Description</label>
  <textarea name="desc" class="form-control" placeholder="A description of your event.">{{event.desc}}</textarea>
</div>
<div class="form-group">
  <label for="imgUrl">Event Flyer</label>
  <input name="imgUrl" class="form-control" placeholder="A link to your flyer" value="{{event.imgUrl}}"/>
</div>