
<div class="card mt-3">
<div class="card-body">
  <div class="col-lg-6 offset-lg-3">

    <form action="/events" method="post">
  {{> events-form }}
  <div class="text-right" style="margin: 5%; padding:2%">
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </div>
</form>
  </div>
</div>
</div>
